@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Flamenco";
  src: url("../fonts/Flamenco.ttf");
  font-weight: 400;
}